.body-register {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logoutButton {
  background-color: #dc2626;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.logoutButton:hover {
  background-color: #b91c1c;
}

.navText {
  margin-right: 1rem;
  color: #93c5fd;
}

.conteiner-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

p {
  text-align: center;
}

.logo {
  width: 100px;
  height: auto;
}
