.footer {
  height: 80px;
  background-color: #1e1e1e;
  color: white;
  text-align: center;
  padding: 2rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer a {
  color: #bbb;
  margin: 0 1rem;
  text-decoration: none;
  transition: color 0.3s;
}

.footer a:hover {
  color: white;
}

.footer-links,
.footer-social {
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
