.avatarInitials {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-anaranjado-1);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
}
.avatarPost {
  background-color: white;
  color: #2f2f2f;
}

.avatarImage {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.editAvatar {
  width: 80px;
  height: 80px;
  font-size: 1.4rem;
}
