#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  background-image: url("../src/assets/fondo-register2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
