.banner {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  height: 180px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding: 0 1rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 25px;
  z-index: 998;
  border-top: 20px solid #f1f1f1;

}

.content {
  padding: 1rem 1.5rem;
  margin-top: 100px; 
  border-radius: 10px;
  color: #f1f1f1;
  font-family: "Playwrite US Modern", sans-serif;
  font-size: 2rem;
}
@media (max-width: 1024px) {
  .banner {
    display: none;
  }
}
